#skills{
    /* height: 100vh; */

    text-align: center;

    background: linear-gradient(to top left, #2CBC00,
        #9AFF7C,
        #FFFFFF 50%, transparent 50%);
}

.skills-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-between;
}

.skills-circles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid rgb(49, 222, 6);
    background-color: #0B4A2C;

    transition: transform 0.5s ease-in-out;
}

.circle{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 1px solid rgb(40, 254, 7);
    background-color: #D9D9D9;
}

.circle img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
}

#skill-1-text{
    position: absolute;
    bottom: 0;
    left: 35%;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
}

.skill:hover{
    transform: scale(1.2);
    background-color: #2CBC00;
}

.certificates{
    display: flex;
    justify-content: space-around;

}

.certificates img{
    border: 5px solid green;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    width: 40%;
    height: 500px;
}